*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	color: #fff;
	width: 1920px;
	height: 1080px;
	background-image: url("../../images/background.png");
}

#flvplayer, #audioPlayer {
	position: absolute;
	top: 1px;
	left: 1px;
}

.loaderImg
{
	position: absolute;
	top: 500px;
	left: 930px;
	z-index: 1000001;
}
.header
{
	width: 1920px;
	height: 200px;
}
.navigation
{
	width: 660px;
}
.shortLinks {
	
}
.firstLine
{
	padding-left: 50px;
}
.anchor
{
	width: 100px;
	text-align: center;
}
.secondLine
{
	padding-left: 0;
}
.backBtn {
	padding-top: 5px;
	width: 120px;
	text-align: center;
}
.tvBtn {
	width: 140px;
	text-align: center;
}
.musikBtn {
	padding-top: 5px;
	width: 120px;
	text-align: center;
}
.backBtnShadow {
	width: 120px;
	height: 28px;
	text-align: center;
}
.tvBtnShadow {
	width: 140px;
	height: 28px;
	text-align: center;

}
.musikBtnShadow {
	width: 120px;
	height: 28px;
	text-align: center;

}
.movieBtnShadow {
	width: 150px;
	height: 28px;
	text-align: center;
}
.movieBtn {
	width: 150px;
	text-align: center;
}
.playBtn
{
	width: 146px;
	text-align: center;
}
.thirdLine
{
	
}
.language
{
	text-transform:uppercase;
	padding-left: 40px;
	text-align: right;
	font-size: 40px;
	font-weight: bold;
	color: #f6f2e9;
	text-shadow: 3px 7px #222;
}
.langShadow {
	width: 220px;
	text-align: center;
	height: 30px;
}
.arrowDown
{
	width: 50px;
	text-align:left;
	padding-top: 12px;
	padding-left: 10px;
}
.fourthLine
{
	
}
.anchorShadow
{
	width: 100px;
	text-align: center;
	height: 30px;
}
.playShadow
{
	width: 100px;
	text-align: center;
	height: 30px;
}
.logo
{
	width: 640px;
	padding-top: 10px;
	height: 101px;
}
.timedate
{
	width: 620px;
	padding-right: 30px;
	padding-top: 5px;
}

td.time
{
	font-size: 70px;
	color: #ffffdb;
	font-family: LatoHai.ttf;
}
td.date
{
	font-size: 25px;
	color: #efe7b7;
	font-family: LatoHai.ttf;
}
.galeryBar
{
	width: 1920px;
	height: 530px;
}
.galeryArea
{
	padding-top: 30px;
	-webkit-box-reflect: below -16px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.1)));
}
.arrowLeft 
{
	width: 150px;
	height: 320px;
	padding-left: 70px;
}
.smallArrowLeft 
{
	width: 300px;
	height: 320px;
	padding-left: 145px;
}
.arrowRight
{
	width: 150px;
	padding-right: 70px;
}
.shortArrowRight {
	width: 300px;
	padding-right: 145px;
}
.arrowLeftShadow
{
	padding-left: 45px;
}
.shortArrowLeftShadow {
	padding-left: 120px;
}
.arrowRightShadow
{
	padding-right: 45px;
}
.shortArrowRightShadow {
	padding-right: 120px;
}
.bottomBar
{
	width: 1920px;
	height: 120px;
}
.categoryTitle {
	width: 1920px;
	height: 200px;
}
.categoryTypeTitle {
	width: 1920px;
	height: 100px;
}
.categoryTitleText {
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #efe7b7;
	text-shadow: 3px 7px #764f1f;
}
.categoryTypeTitleText {
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #efe7b7;
	text-shadow: 3px 7px #764f1f;
}
.returnBackText {
	width: 1920px;
	font-size: 30px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #f6f2e9;
	padding-bottom: 35px;
	padding-right: 50px;
}
.bottomBackText {
	width: 950px;
	font-size: 30px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #f6f2e9;
	padding-bottom: 35px;
	padding-right: 50px;
}
.bottomHomeText {
	font-size: 30px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #f6f2e9;
	padding-bottom: 35px;
	padding-left: 10px;
}
.carousel_mask {
	position: absolute;
	bottom: 139px;
	left: 513px;
	z-index: 10000;
}
.bottom_carousel_text {
	position: absolute;
	bottom: 180px;
	left: 0;
	width: 1920px;
	text-align: center;
	z-index: 10001;
	font-size: 55px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #f6f2e9;	
}
.small_carousel_mask {
	position: absolute;
	bottom: 285px;
	left: 572px;
	z-index: 10000;
}
.bottom_small_carousel_text {
	position: absolute;
	bottom: 300px;
	left: 0;
	width: 1920px;
	text-align: center;
	z-index: 10001;
	font-size: 40px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #ffffff;
}
.descriptionText {
	width: 1920px;
	height: 130px;
}
.descriptionTextInner {
	width: 767px;
	height: 130px;
	overflow: hidden;
	text-align: justify;
	font-size: 30px;
	font-family: LatoLig.ttf;
	color: #ffffff;
}
.carouselImage {
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:10px solid #ffffff;	
}

.language_menu_div {
	position: absolute;
	top: 120px;
	left: 250px;
	display: none;
}
.language_menu_div_inner {
	position: relative;
}
.menu_lang_text_eng {
	position: absolute;
	top: 30px;
	left: 100px;
	font-size: 40px;
	font-weight: bold;
	color: #f6f2e9;
	text-shadow: 3px 7px #222;
	z-index: 10001;
}
.menu_lang_text_ukr {
	position: absolute;
	top: 95px;
	left: 100px;
	font-size: 40px;
	font-weight: bold;
	color: #f6f2e9;
	text-shadow: 3px 7px #222;
	z-index: 10001;
}
.menu_lang_text_rus {
	position: absolute;
	top: 165px;
	left: 100px;
	font-size: 40px;
	font-weight: bold;
	color: #f6f2e9;
	text-shadow: 3px 7px #222;
	z-index: 10001;
}
.active_line {
	position: absolute;
	top: 140px;
	left: 20px;
}
.selected_lang_menu_item {
	position: absolute;
	top: 165px;
	left: 45px;
}





