*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	color: #fff;
	width: 1920px;
	height: 1080px;
	background-image: url("../../images/background.png");
}

.header
{
	width: 1920px;
	height: 200px;
}
.navigation
{
	width: 660px;
}
.firstLine
{
	padding-left: 50px;
}
.anchor
{
	padding-left: 35px;
}
.secondLine
{
	padding-left: 35px;
}
.playBtn
{
	padding-left: 40px;
}
.thirdLine
{
	padding-left: 40px;
}
.language
{
	padding-left: 40px;
	font-size: 40px;
	font-weight: bold;
	color: #f6f2e9;
	text-shadow: 3px 7px #222;
}
.arrowDown
{
	padding-top: 12px;
	padding-left: 10px;
}
.fourthLine
{
	padding-left: 30px;
}
.anchorShadow
{
	padding-left: 20px;	
}
.playShadow
{
	padding-left: 40px;
}
.logo
{
	width: 640px;
	padding-top: 10px;
}
.timedate
{
	width: 620px;
	padding-right: 30px;
	padding-top: 5px;
}

td.time
{
	font-size: 70px;
	color: #ffffdb;
	font-family: LatoHai.ttf;
}
td.date
{
	font-size: 25px;
	color: #efe7b7;
	font-family: LatoHai.ttf;
}

.welcomeBar
{
	width: 1920px;
	height: 150px;
}
.hotelName
{
	text-align: center;
	font-size: 95px;
	font-family: LatoHai.ttf;
	color: #f6f2e9;
	text-shadow: 3px 7px #444;
}
.welcomeMsg
{
	text-align: center;
	font-size: 53px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #f6f2e9;
	text-shadow: 3px 7px #764f1f;
}

.galeryBar
{
	width: 1920px;
	height: 530px;
}
.arrowLeft 
{
	width: 150px;
	height: 320px;
	padding-left: 70px;
}

.arrowRight
{
	width: 150px;
	padding-right: 70px;
}
.arrowLeftShadow
{
	padding-left: 45px;
}
.arrowRightShadow
{
	padding-right: 45px;
}

.bottomBar
{
	width: 1920px;
	height: 200px;
}
.startText
{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	font-family: LatoBol.ttf;
	color: #f6f2e9;
}






